[submodule "issue1"]
	path = issue1
	url = git@github.com:caraesten/dial_a_zine_issue1.git
[submodule "dial_a_zine_issue1"]
	path = dial_a_zine_issue1
	url = git@github.com:caraesten/dial_a_zine_issue1.git
